@{
    ViewBag.Title = "Configurar Juego";
}

<h2>Configurar Juego</h2>

<form action='@Url.Action("Comenzar", "Home")' method="get">
    <div>
        <label for="dificultad">Dificultad:</label>
        <select id="dificultad" name="dificultad" required>
            <option value="-1">Todas</option>
            <option value="1">Fácil</option>
            <option value="2">Media</option>
            <option value="3">Difícil</option>
        </select>
    </div>
    <div>
        <label for="categoria">Categoría:</label>
        <select id="categoria" name="categoria" required>
            <option value="-1">Todas</option>
            <option value="1">Fútbol Argentino</option>
            <option value="2">Copas Inetrnacionales</option>
            <option value="3">Historia del fútbol</option>
            <option value="4">Fútbol Europeo</option>
            <option value="5">Messi</option>
        </select>
    </div>
    <div>
        <label for="username">Nombre de Usuario:</label>
        <input type="text" id="username" name="username" required />
    </div>
    <div>
        <button type="submit">Jugar</button>
    </div>
</form>
```

