@{
    ViewData["Title"] = "Créditos";
}
<link rel="stylesheet" href="creditos.css">
<div class="text-center">
    <h1>Trabajo hecho por:</h1>
        
    
    <div class="personal">
    <img src = "\Img\Wilder.PNG" width= 60% height = 50%>
    </div>
    <h1>Matías Wilder</h1>
    
    <div class="personal">
    <img src = "\Img\Gonza.PNG" width= 60% height = 50%>
    </div>
    <h1>Gonzalo Kacanas</h1>
    
    <div class="personal">
    <img src = "\Img\Iair.jfif" width= 60% height = 50%>
    </div>
    <h1>Iair Socha</h1>
</div>
<div class="foto">
    
</div>