using TP_07_PREGUNTA2.Models;

@{
    ViewData["Title"] = "Fin";
    
    int puntaje =Juego.puntajeActual;
     
     <img src = "/img/Victoria" width= 60% height = 50%>
       
}
<form action='@Url.Action("Comenzar", "Configurarjuego")' method="get">
<div>
<h2>@ViewBag.username<h2>
<h2>@puntaje<h2>

 <button type="submit">Jugar de nuevo</button>
</div>
</form>
