@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PREGUNTADOS: FOOTBALL EDITION</h1>
    <img src="/img/Logo.jpg" class>             
       <a href="/Home/ConfigurarJuego" class="btn btn-primary">Comenzar!</a>   
</div>
