body {background-color:rgb(59, 160, 29);
 
}  

footer{

text-align: center;
justify-content:center ;
margin-top: 20px ;
size: 200px;
}

button{
   
    margin-left: 20px;
    margin-top: 20px;
}

#Enunciado{
    font-style: italic;
     font-weight:bold;
     font-size: large;
     
}

#imagen{
    text-align: center;
    justify-content:center ;
    height: 300px;
    width: auto;
}